* {
    box-sizing: border-box;
}

html {
 	  
  background: url(../../imgs/background.png) no-repeat center center;
  	/* Ensure the html element always takes up the full height of the browser window */
	min-height:100%;
    min-width:25%;
    overflow-x: hidden;
  
  /* The Magic */
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
	background-size:cover;

}
/*
.background {

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: url(../../imgs/background.png) no-repeat center center fixed; 

}*/

.main {
 
  background-color: rgba(41, 44, 61, 0.9);
  position: relative;
  margin: auto;
  margin-top:10%;     
  width: 25%; 
  padding: 180px;
  z-index:10; 
 
  
}


.logo-copy {
  width: 128px;
  height: 91px;
  object-fit: contain;
  position: absolute;
  left: 116px;
  right:116px;
  top: 26px;      
}

.PAYMENT-WITH-A-SELFI {
  position: absolute;
  width: 240px;
  height: 22px;
  font-family: 'Noto Sans';
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0.2px;
  text-align: center;
  color: #9b9b9b;
  left: 60px;
  right:85px;
  top: 110px;
}
.line {
  position: relative;
  -webkit-filter: blur(10px);
  filter: blur(10px);
  left: 20px;
  right:20px;
  top: 140px;
  width:200px;
}

.facebookButton {

  background-image: url("../../imgs/face-login-b-t-n.png");
  position: relative;
  width: 230px;
  height: 52px;
  top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);

}


.How-does-IdenTitix-w {
  position: absolute;
  width: 200px;
  height: 19px;
  font-family: 'Noto Sans';
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.2px;
  color: #ff3d59;
  cursor:pointer;

  left: 101px;
  right:101px;
  top: 284px;
}

.container {
  margin: 100px auto;
  width: 640px;
 
}


.gallery{
  
  display:block;
  width: 360px;
  height: 340px;
  background-color: rgba(41, 44, 61, 0.9);
  position: relative;
  left: -180px; 
  padding:24px;
 

}
.gallery .scroller {
  overflow: auto;
  overflow-x:hidden;  
  height: 300px; 
  width: 328px;  
  
     
  /*-webkit-overflow-scrolling:auto; */
}

.status{
   
    color:#ffffff;    
    font-size: 12px; 
    text-align:center;
    font-family: 'Noto Sans';
    margin: 5px;
}

.status div{  
  display:block;
  width: 360px;
  height: 340px;
  background-color: rgba(41, 44, 61, 0.9);
  position: relative;
  left: -185px; 
  opacity:0.8;
  z-index:10;
 
}

.status p{  
  font-size: 16px;
}

.status img {
   object-fit: contain;
   position: relative;
   left: 45px;
   top: 10px;
}

.status img#logoStatus {
    left: -85px;
    top: -30px;
}


h3 {
   /* position: relative; 
    left:120px; */
    color:#9b9b9b;
    align-content:center;
    font-size: 0.9em;
    font-family: 'Noto Sans';
    margin: 5px;
    text-align:center;

}

.picture {
    position: relative;
    height: 200px;
    width: 200px;
    border: 4px solid #555;
    padding: 1px;
    margin:0 1px 1px 0;
    left: 55px; 
    float: none; /*left*/
}
.pictureSelected {    
    position: relative;
    height: 102px;
    width: 102px;
    border: 4px solid #ff3d59;
    padding: 1px;
    margin:0 1px 1px 0;
    left: 0px; 
    float:left    
}
/*
.picture:visited {
     position: relative;
    height: 102px;
    width: 102px;
    border: 4px solid #ff3d59;
    padding: 1px;
    margin:0 1px 1px 0;
    left: 0px; 
    float:left
}
  */

.picture:hover {

    opacity:0.8;
    cursor:pointer;
} 

.btn {
    
      color: #ffffff;  
      font-size: 16px;
      font-family: 'Noto Sans';
      text-align: center;
      width: 204px;
      height: 40px;    
      background-color: #ff3d59;
      position:absolute;  
      border: 3px solid #ff3d59;
      cursor:pointer;      
      left:78px;
      margin-top:5px;    
      }


.refresh {
   margin-top:8px; 
}

.refresh:hover {
  opacity: 0.8;
  cursor:pointer;
}

.counter {
    text-align:right;
    position:absolute;
    font-size:22px;
    font-family: 'Noto Sans';
    color:#fff;
    position:absolute;
    right:10%;
    margin-top:8px; 
    
}

.identitx-alert {
    background: #ff3d59;
    color:#fff;
    padding:15px 50px 15px 35px;
    position:absolute;
    z-index:100;
    font-size:18px;
    font-family: 'Noto Sans';
    min-height:5%;
    min-width:25%;
    width:100%;
    top:150px;
    line-height:1.2;
    text-align:center;
    left:0;
    opacity:0.9;
    font-weight:lighter;

}

.spinner {
    background:#ffffff;
    position:absolute;
    z-index:100;
    width: 100%;
    height: 91%;
    align-items:center;
    left: 0px;
    opacity:0.5;
    margin: 0;
    white-space:nowrap;
}

.spinner img {
   position: absolute;
   left:40%;
   right:40%;
   top:40%;
}

.mobile {
    width:100%;
    margin-left: -8px;
}



